* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    }
html{
        font-family: Arial, Helvetica, sans-serif;
    }
.clear{
        clear: both;
}
.main{
    background-color: #000;
    width: 100%;
    height: auto;
}
.header{
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    position:fixed;
    z-index: 1;
}
.header-menu{
    background-color: #000;
}
.header-search-btn{
    background-color: #000;
}
.nav{
    display: inline-block;
}
.nav, .subnav{
    list-style-type: none;

}
.nav > li{
    display: inline-block;
}
.nav li{
    position: relative;
}
.nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
.nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
.nav li:hover .subnav{
    display: block;
}
.nav > li:hover > a,
.nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
.nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
}
.nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
.nav .nav-arrow-down {
    font-size: 12px;
}
.header .header-search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
    text-align: right;
}
.header .header-search-btn:hover {
        background-color: #f44336;
}
.header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
.header-bars-btn i{
    font-size: 20px;
    line-height: 46px;
    color: #fff;
    margin-left: 90%;
}
.space{
    height: 46px;
}
.slider{
    position: relative;
    margin-top: 0;
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat ;
} 
.slider .text-contend {
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}
.slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}
.slider .text-description{
    font-size: 15px;
    margin-top: 25px;

}
.content{
    background-color: #fff;
}
.tabs {
    display: flex;
    position: relative;
    justify-content: center;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
} 
.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}
.tab-item:hover {
   opacity: 1;
   background-color: rgba(194, 53, 100, 0.05);
   border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
   opacity: 1;
}
.tab-content {
    text-align: center;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
.footer{
    padding: 64px 16px;
    text-align: center;
    background-color: #fff;
}
.footer .socials-list{
    font-size: 24px;
}
.footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.footer .copyright a:hover,
.footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
.footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
  
  